html {
    background: black;
  }
  img {
    height: 100%;
    width: 100%;
    border: solid lightcoral;
  }

  h1 {
  text-transform: uppercase;
  font-family: "Nosifer";
  color: lightpink;
  margin-left: 21%; 
  font-size: 30px;
  }   
  div {
    height: 340px;
    width: 650px;
    padding-top: 100px;
    padding-left: 30%;
    
  }

  p {
    color: white;
    margin-left: 27%;
    font-size: 20px;

  }